/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}

ul {
    list-style-type: none;
}

/*HEADER*/

nav ul li {
    margin: 10px;
}
 
nav ul li a {
    font-family: Georgia, serif;
    font-size: 14px;
    text-decoration: none;
    border-top: 2px solid #fff;
    color: #66bb44;
    display: block;
    font-weight: bold;
    padding: 5px;
}

nav ul li a:hover, nav ul li.active a {
    background-color: #66bb44;
    color: #fff;
}
 
span {
    display: none;
}

/*BANNER*/
#banner {
    background-image: url(../img/header.jpg);
    background-size: cover;
}

.banner_box {
    padding: 120px 0 60px 0;
    max-width: 400px;
}

.banner_box h2 {
    color: #fff;
}
 
.banner_box p {
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}

/*MAIN*/

main h1, h3{
    color: #0289cc;
}

.more {
    text-decoration: none;
    color: #0289cc;
}

.more:after {
    content: ' ▶';
}

section image{
    border-bottom: #66bb44;
    border-width: 1px;
}

.gallery div {
    justify-content: space-between;
    max-width: 30%;
    margin: 5px;
}

#bluebox {
    border: solid #0289cc;
    background-color: lightblue;
}

#bluebox h4{
    padding: 10px;
    color: #0289cc;
}

#bluebox a{
    padding: 5px;
    color: #0289cc;
}

/*FOOTER*/
footer {
    padding: 30px;
    background-color: #1B1A1A;
    color: white;
    margin: auto;
    font-size: 10px;
}

#links a {
    color: white;
}

@media (min-width: 650px) {

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    nav ul{
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    #f {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

}