html {
	background-color: #fff;
	background-image: url("images/tile.png");
}
 
body {
	border: 10px solid white;
	background-image: url("images/bg.png");
	background-size: contain;
	height: 600px;
	margin: 20px auto;
	max-width: 300px;   
	padding: 40px 100px;
	font-family: Arial;
	box-shadow: 2px 2px 10px grey;
}

body h1 {
	font-family: 'Ephesis', cursive;
	font-size: 50px;
	font-weight: 1;
	text-align: center;
}

body p {
	font-family: 'Architects Daughter', cursive;
	font-size: 30px;
	font-weight: 1;
}

body strong{
	text-shadow: 2px 2px 10px red;
}

body footer p {
	font-family: 'Architects Daughter', cursive;
	text-align: end;
	font-size: 20px;
}
 
mark {
	background-color: transparent;
}
 
footer	{
	margin-top: 40px;
}
 
footer p {
	margin: 0;
}

.date {
	margin-top: 10px;
}